html, body{
    width: 100%;
    margin: 0px;
    height: 100%;
}   
/* premiere question */
body{
    padding: 0px;
    font-family: verdana;
}
/* deuxieme question */
header{
    background-color: white;
    height: 10%;
}
section{
    background-color: lightcyan;
    height: 80%;
}
footer{
    background-color: white;
    height: 10%;
    clear: both;
}
/* troisieme question */
section img{
    width: 400px;
    height: 200px;
}
footer img{
    width: 50px;
    height: 50px;
}
/* quatrieme question */
header nav{
    float: right;
}
li{
    display: inline;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

header h1{
    float: left;
    text-shadow: 5px 5px 7px grey;
    color: indianred;
    margin-top: 10px;
}
header nav li:hover{
    color: red;
    text-transform: uppercase;
}
/* cinquieme question */
section{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
section div{
    width: 30%;
    line-height: 0px;
    display: inline-block; 
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
section main{
    text-align: center;
    height: 90%;
    width: 100%;
}
/* sixieme question */
footer{
    margin: 15px;
}
footer > img{
    float: left;
    animation-name: animationDrapeau;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease;

}
footer div{
    float: right;
}
@keyframes animationDrapeau{
    form{
        opacity: 1;
        transform: translateX(10px);
    }
    to{
        opacity: 0;
        transform: translateX(-10px);
    }
}